attrs==23.1.0
cdflib==0.4.9
gdown==4.7.1
h5py==3.8.0
idna==3.4
matplotlib==3.7.1
numpy==1.24.3
pyparsing==3.0.9
pyswarms==1.3.0
PyYAML==6.0
pyzmq==19.0.2
requests==2.29.0
scipy==1.10.1
soupsieve==2.4.1
tqdm==4.65.0
yarg==0.1.9
zipp==3.15.0
pandas
radiospectra
astropy